<button class="btn btn-default iconButton bgColorGrey" ng-click="submit = false" data-toggle="modal" data-target="#healthModal" data-toggle="tooltip" title="Add new Health Article!">
    <i class="fa fa-plus fa-2x white"></i>
</button>
<div class="modal fade" id="healthModal" tabindex="-1" role="dialog"> 
    <div class = "modal-dialog"> 
        <div class = "modal-content"> 
            <div class = "modal-header bgColor" > 
                <h4 class="white">New Article </h4>
                <i class="fa fa-times-circle fa-lg pull-right white" data-dismiss="modal"></i>
            </div>
            <div class="modal-body">
                <form id="categoryForm" ng-submit="addHealth();"> 
                    <div ng-show="submit">
                        <p>Article Added!</p>
                    </div>
                    <div ng-hide="submit">
                        <div class="form-group">
                            <p><label>Title:</label></p>
                            <p><input type="text" id="name" size="30" ng-model="health.title"></p>
                            <p><label>Article URL:</label></p>
                            <p><input type="text" id="name" size="30" ng-model="health.url"></p>
                            <p><label>Image(URL):</label></p>
                            <p><input type="text" id="url" size="30" ng-model="health.img"></p>
                        </div>
                        <input type="submit" class="btn btn-default bgColorGrey white textBold"  value="Submit">
                    </div>
                </form>
            </div>
        </div> 
    </div> 
</div>
<p class="numberText">Number of Articles: {{healthArray.length}}</p>
<div class="contentContainer">
    <div ng-repeat="item in healthArray | filter: filterValue">
        <button class="item" >
            <a href="{{item.url}}">
                <is-url></is-url>
                <div class="content">
                    <p class="contentTitle">{{item.title}}</p>
                </div>              
            </a>
        </button>
    </div>
</div>