
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"> 
    <div class = "modal-dialog" > 
        <div class = "modal-content" > 
            <div class = "modal-header" > 
                <h4>New Category </h4 > 
            </div>
        	<div class="modal-body">
            	<form name="categoryForm" ng-submit="addCategory();">
                	Category: <input type="text" id="category">
                	Image: <input type="text" id="imgUrl">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               	 	<input type="submit" class="btn btn-default"  value="Submit">
            	</form>
        	</div > 
    	</div > 
    </div > 
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"> 
    <div class = "modal-dialog" > 
        <div class = "modal-content" > 
            <div class = "modal-header" > 
                <h4>New Category </h4 > 
            </div>
        	<div class="modal-body">
            	<form name="categoryForm" ng-submit="addCategory();">
                	Category: <input type="text" id="category">
                	Image: <input type="text" id="imgUrl">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               	 	<input type="submit" class="btn btn-default"  value="Submit">
            	</form>
        	</div > 
    	</div > 
    </div > 
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"> 
    <div class = "modal-dialog" > 
        <div class = "modal-content" > 
            <div class = "modal-header" > 
                <h4>New Category </h4 > 
            </div>
        	<div class="modal-body">
            	<form name="categoryForm" ng-submit="addCategory();">
                	Category: <input type="text" id="category">
                	Image: <input type="text" id="imgUrl">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               	 	<input type="submit" class="btn btn-default"  value="Submit">
            	</form>
        	</div > 
    	</div > 
    </div > 
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"> 
    <div class = "modal-dialog" > 
        <div class = "modal-content" > 
            <div class = "modal-header" > 
                <h4>New Category </h4 > 
            </div>
        	<div class="modal-body">
            	<form name="categoryForm" ng-submit="addCategory();">
                	Category: <input type="text" id="category">
                	Image: <input type="text" id="imgUrl">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               	 	<input type="submit" class="btn btn-default"  value="Submit">
            	</form>
        	</div > 
    	</div > 
    </div > 
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"> 
    <div class = "modal-dialog" > 
        <div class = "modal-content" > 
            <div class = "modal-header" > 
                <h4>New Category </h4 > 
            </div>
        	<div class="modal-body">
            	<form name="categoryForm" ng-submit="addCategory();">
                	Category: <input type="text" id="category">
                	Image: <input type="text" id="imgUrl">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               	 	<input type="submit" class="btn btn-default"  value="Submit">
            	</form>
        	</div > 
    	</div > 
    </div > 
</div>