<div>
	<div>
		<img src="images/travel/Dc/washCover.jpg" alt="" height="300" class="coverPic">
	</div>
	<div class="articleContent col-md-8 col-md-offset-2">
		<figure class="fltright pic">
  			<img src="images/travel/Dc/wash0.jpg" alt="Jalapeno Pretzel sticks and CHicken with mushrooms" height="250" width="200">
  			<figcaption>Dinner @ Charlotte<figcaption>
		</figure>
		<p id="heading">Washington D.C</p>
		<p>A random trip decided  while eating dinner at a restuarant in Charlotte. Couldnt get more random than that.</p> 

		<p>After getting disappointed by the room we booked at Charlotte and finding that there is nothing much to do either , we were kinf of pondering where to spend the night. And all of sudden looking at the map , my husband sayd "Why not D.c?". I dint say anything for a few seconds as I was trying to process what he just said. He loves random planning so do I, but 6 hours long drive to be started @ 11:00 P.M , dint appeal to me. But them with lot of discussions and his evergreen line "If not now then when!!", we finally decided to take up the risk of driving all the way to D.C .</p>

		<p>Well I must say it was definitely a awesome decision because I thouriughly enjoyed it. The cool silent roads and the moonshine!! . Well then we rested in a gas station when sleep overpowered us and yet another adventurous experience of sleeping in a car. Finally we enteres Dc at around 11:00 A.M.</p>

		<p> Awestruck!! The only word I can say right now. It has its own beauty with its old yet magnificiamt buildings. The entire Dc atleast around the capitol has just the government buildings. No wonder it is the capital of the United States.The best way to do sightseeing is get on a Hop-On-Hop-Off bus. Its easy, cheap and there are many services.There are so many spots to cover and with all the parking problem, these are the best and the only option you have unless you wantto spend hapf of your time searching for a parking or walking a lot.The Capitol is something you dont want to miss. Sadly it was under construction when we visited but still it was a true beauty</p>

		<figure class="pic">
  			<img src="images/travel/Dc/wash1.jpg" alt="The Capitol" width="600">
  			<figcaption>The Capitol<figcaption>
		</figure>

		 <p>This city sure has so many museums. The Smithson's institute own almost all of them and entry to these are free. We covered up a few important and recommended ones.</p>
		<div class="col-md-10 col--md-offset-1">
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash2.jpg" alt=""  height="300" width="300">
  				<figcaption>National Air and Space Museum<figcaption>
			</figure>
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash3.jpg" alt="" height="300" width="300">
  				<figcaption>National Musuem of Natural History<figcaption>
			</figure>
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash4.jpg" alt="" height="300" width="300">
  				<figcaption>National Musuem of Natural History<figcaption>
			</figure>
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash5.jpg" alt="" height="300" width="300">
  				<figcaption>National Museum of American History<figcaption>
			</figure>
		</div>
		<p style="clear:both">After the museums it was time to see the most important attraction - The White House!.The name sames it all. And with all the security guards and snipers , it even looked more important. </p>
		<figure class="pic">
  			<img src="images/travel/Dc/wash6.jpg" alt="" width="600">
  			<figcaption>National Musuem of Natural History<figcaption>
		</figure>
		<p>The memorials of the other presidents are also a must watch.</p>
		<div class="col-md-10 col--md-offset-1">
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash8.jpg" alt="" height="300" width="300">
  				<figcaption>Inside the Abraham Lincoln Memorial<figcaption>
			</figure>
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash7.jpg" alt=""  height="300" width="300">
  				<figcaption>Abraham Lincoln Memorial<figcaption>
			</figure>
		</div>
			<figure class="pic">
  				<img src="images/travel/Dc/wash9.jpg" alt="" width="600">
  				<figcaption>Thomas Jefferson Memorial<figcaption>
			</figure>
			<figure class="pic">
  				<img src="images/travel/Dc/wash10.jpg" alt="" width="600">
  				<figcaption>The Korean War Memorial<figcaption>
			</figure>	
		<figure>
		The Washington DC monument stands tall right in front of the capital as well as the Lincoln Memorial. The reflecting pool that is between the monument and the Lincoln memorial creats a clear reflection of the monument in the still water, which is a sight to watch in itself.
		<figure class="pic">
  			<img src="images/travel/Dc/wash11.jpg" alt="" width="600">
  			<figcaption>The Reflecting pool and the Washington Monument<figcaption>
		</figure>
		GeorgeTown - The Downtown is a very pretty place. With so many options for food and pubs, it is chill out place for most of the people at night.
		<div class="col-md-10 col--md-offset-1">
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash12.jpg" alt="" height="300" width="300">
  				<figcaption>GeorgeTown<figcaption>
			</figure>
			<figure class="fltright pic">
  				<img src="images/travel/Dc/wash13.jpg" alt="" height="300" width="300">
  				<figcaption>GeorgeTown<figcaption>
			</figure>
		</div>
	</div>
</div>
